@(message: String)

@main("Caronaê - Cadastro"){
	
	<div class="container-fluid row">
		<nav class="navbar navbar-default navbar-fixed-top col-xs-12" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header center">
					<a class="navbar-brand col-xs-12" href="/"><strong>Caronaê</strong></a>
				</div>
  			</div>
		</nav>

		<div class="col-xs-12 center"><h3>Cadastro Pessoal</h3></div>
		
		<div class="well row">
			<div class="input form-group">
				<label class="col-xs-3 control-label" for="fullName">Nome </label>
				<div class="col-xs-9">
					<input class="form-control" type="text" id="fullName" />
				</div>
			</div>

			<div class="input form-group">
				<label class="col-xs-3 control-label" for="address">Endereço </label>
				<div class="col-xs-9">
					<input class="form-control" type="text" id="address" />
				</div>
			</div>

			<div class="input form-group">
				<label class="col-xs-3 control-label" for="emailaddress">Email </label>
				<div class="col-xs-9">
					<input class="form-control" type="email" id="emailaddress" />
				</div>
			</div>

			<div class="input form-group">
				<label class="col-xs-3 control-label" for="telephone">Telefone </label>
				<div class="col-xs-9">
					<input class="form-control" type="text" id="telephone" />
				</div>
			</div>			
			
			<div class="input form-group">
				<label class="col-xs-3 control-label" for="studentId">Matrícula </label>
				<div class="col-xs-9">
					<input class="form-control" type="text" id="studentId" />
				</div>
			</div>

			<div class="input form-group">
				<label class="col-xs-3 control-label" for="password">Senha </label>
				<div class="col-xs-9">
					<input class="form-control" type="password" id="password" />			
				</div>
			</div>
			
			<input class="btn btn-success btn-block btn-lg" type="submit" value="Cadastrar" />
		</div>
	</div>
}