$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Cores
$gray-base : #000;
$gray-light : lighten($gray-base, 46.7%); // #777
$gray-lighter : lighten($gray-base, 93.5%); // #eee

/*a {
  color: white;
  text-decoration: none;
}

a:hover, a:focus {
  color: white;
  text-decoration: none;
}*/

body {
    background-color: #eee;
}

.panel-login {
  max-width: 350px;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.app-name {
  text-align: center;
}

//MAIN
#main {
  margin-top: 60px;
  margin-left: 70px;
}

//Notificacao e horarios CSS
.section.principal {
	margin-top: 60px;
	margin-bottom: 120px;
}

//Horarios
.my_times {
  border: 1px $gray-lighter solid;
  border-top: 0px;
  margin-bottom: 80px;
}

.my_times li {
  border: 0px;
  border-bottom: 1px $gray-lighter solid;
  margin-bottom: 2px;
}

.my_times > li:last-child {
  border: 0px;
}

.day_times > .day {
  padding-right: 10px;
}
.day_times > button {
  margin: 0px 3px;
}

.day_times > button:hover {
	@extend .btn-danger;
}

//Notificacao
.notificacao {
  border: 1px $gray-lighter solid;
  margin-bottom: 10px;
}

.notificacao > .picture {
  padding-right: 10px;
}

.notificacao > .message > b {
  padding-right: 3px;
}

.notificacao > .message > .date {
  font-size: 10px;
}

//cadastro
.center {
  text-align:center;
}

.control-label {
  margin-top: 7.5px;
}

.input {
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 20px;
}

div >.well {
  height: 100%;
}

.jumbotron {
  text-align: center;
  margin-top: 55px;
  padding: 10px;
}

// Sidebar
#sidebar {
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  background: #3F51B5;
  padding: 0;
  z-index: 3;
  overflow: auto;
}

ul {
  list-style-type: none;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
  list-style-type: none;
  margin: 60px 0 0 -40px;
}

#sidebar > ul > li > ul.sub {
  display: none;
}

.active-btn{
  background-color: #adb2d1;
  text-align: center;
  vertical-align: middle;
  &a {
    color: #3F51B5
  }
}

.active-btns-2 {
  background-color: #797e9c;
  text-align: center;
  vertical-align: middle;
}

.nonactive-btn{
  //background-color: #C5CAE9;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}

.side-btns {
  height: 60px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
}

.side-btns a {
  text-decoration: none;
  color: white;
  height: 60px;
}

.side-btns a:hover, .side-btns a:focus {
  text-decoration: none;
  color: white;
  height: 60px;
}
.navbar-fixed-bottom {
  z-index: 1;
}

@media (min-width: 768px) {
  .my_times {
    margin-bottom: 10px;
  }
  .navbar-fixed-bottom {
    position: relative;
  }
}

@media (max-width: 768px) {
	.overflow-hidden-xs {
		overflow: hidden;
	}
}
