<div id="main" class="container-fluid">
  <div class="center">
    <h1>Cadastro de Horas</h1>
  </div>
  <div class="alert alert-danger center col-lg-6 col-lg-offset-3">
    Horario já cadastrado.
  </div>
  <div class="section principal">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="col-xs-12 text-center" ng-class="{active: editingIda}">
          <a role="button" ng-click="edit('IDA')">Horarios</a>
        </li>
      </ul>
    </div>
  </div>
    <div class="col-md-12">
    <ul class="list-group my_times">
      <li class="list-group-item" ng-repeat="(day, times) in tabBeingEdited" ng-if="times.length != 0">
        <div class="day_times">
          <spam class="pull-left day">{{day}}:</spam>
          <button type="button" class="btn btn-success btn-xs" ng-click="remove(day, time)"
                  ng-repeat="time in times | orderBy">{{time}}
          </button>
        </div>
      </li>
      <div class="alert alert-warning" ng-if="qntTimes[tabOpen] == 0">
        Você ainda não adicionou nenhum horário.
      </div>
    </ul>
    <div class="navbar navbar-default navbar-fixed-bottom col-xs-12">
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group pull-right"> Dia <br/>
            <select ng-model="dia" placeholder="Dia da Semana" class="form-control input-lg">
              <option>Seg</option>
              <option>Ter</option>
              <option>Qua</option>
              <option>Qui</option>
              <option>Sex</option>
              <option>Sab</option>
              <option>Dom</option>
            </select>
          </div>
        </div>
        <div class="col-xs-1">
          <div class="form-group pull-right"> Hora <br/>
            <select ng-model="hora" placeholder="--" class="form-control input-lg">
              <option value="">--</option>
              <option ng-repeat="hr in horas">{{hr}}</option>
            </select>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group pull-left"> Minuto <br/>
            <select ng-model="minuto" placeholder="--" class="form-control input-lg">
              <option value="">--</option>
              <option ng-repeat="min in minutos">{{min}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" ng-if="tabOpen == 'Volta'">
        <div class="col-md-6 col-xs-6 col-xs-offset-3 col-md-offset-0">
          <div class="form-group pull-right">
            <label class="checkbox-inline">
              <input ng-model="returnAddressDifferent" type="checkbox">Neste horário, meu endereço de retorno é
              diferente
            </label>
          </div>
        </div>
        <div class="col-md-6 col-xs-6 col-xs-offset-3 col-md-offset-0">
          <div class="form-group">
            <input class="form-control input-lg" placeholder="Endereço" type="text" ng-if="returnAddressDifferent"
                   ng-model="returnAddress">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a class="btn btn-block btn-lg btn-success" ng-click="add()">Adicionar Horário</a>
        </div>
      </div>
    </div>
  </div>
</div>
