<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><strong>Caronaê</strong></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/"><span class="glyphicon glyphicon-user"></span> Entrar</a></li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron">
    <h1>Motorista</h1>
    <p>Ofereça carona à colegas da UFCG.</p>
    <h1>Passageiro</h1>
    <p>Encontre a carona certa na melhor hora.</p>
    </div>

  <input class="btn btn-block btn-lg btn-success" type="submit" value="Cadastrar"/>
</div>
