

<div class="vertical-center">
    <div class="container panel panel-default panel-login">
        <div class="panel-heading">
            <h3 class="panel-title app-name">Caronaê</h3>
        </div>
        <div class="panel-body">
          <div class="bg-danger center" ng-if="msg_error"> <p>Usuario ou senha incorretos.</p></div>
            <form class="form-login">
                <div class="form-group">
                    <label for="inputMatricula" class="sr-only">Matrícula</label>
                    <input type="text" id="inputMatricula" class="form-control" pattern="^[0-9]*$"
                           ng-model="user.studentId" placeholder="Matrícula" required="" autofocus="">
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">Senha</label>
                    <input type="password" id="inputPassword" class="form-control"
                           ng-model="user.password" placeholder="Senha" required="">
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-login" type="submit" ng-click="login()">Entrar</button>
            </form>
        </div>
    </div>
</div>
