<div class="container">
  <div class="container-fluid row">
	<nav class="navbar navbar-default navbar-fixed-top col-xs-12" role="navigation">
	  <div class="container-fluid">
		<div class="navbar-header center">
		  <a class="navbar-brand col-xs-12" href=""><strong>Caronaê</strong></a>
		</div>
	  </div>
	</nav>
  </div>
</div>
<div class="section principal">
  <div class="container-fluid">
	<div class="row">
	  <div class="col-md-12">
		<ul class="nav nav-tabs">
		  <li class="col-xs-6 text-center" ng-class="{active: editingRequisicoes}">
			<a role="button" ng-click="edit('Requisicoes')">Requisições</a>
		  </li>
		  <li class="col-xs-6 text-center" ng-class="{active: editingOferecer}">
			<a role="button" ng-click="edit('Oferecer')">Oferecer</a>
		  </li>
		</ul>
	  </div>
	</div>
  </div>
</div>
