<div class="sidebar">
  <div class="col-xs-12">
	<div class="btn-group-vertical btn-block">
	  <button type="button" class="btn btn-lg" ng-class="{'btn-info': perspective.driver, 'btn-default': perspective.rider}" ng-click="changePerspective('motorista')">Motorista</button>
	  <button type="button" class="btn btn-lg" ng-class="{'btn-info': perspective.rider, 'btn-default': perspective.driver}" ng-click="changePerspective('passageiro')">Passageiro</button>
	</div>
  </div>
  <div class="clearfix" <="" div=""></div>
</div>